:root {
    --darkColor: rgb(31, 33, 39);
    --lightColor: rgb(204, 214, 200);
    --primeColor: rgba(223, 100, 78, 0.911);
    --secondColor: rgba(190, 172, 9, 0.87);
    --thirdColor: rgba(45, 100, 29, 0.87);
   }


body {
    font-family: 'Nunito','Outfit', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: var(--darkColor);
    border-left: 1px solid var(--darkColor);
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: var(--darkColor);
    border-radius: 0;
    border-bottom: 10px solid var(--darkColor);
    padding: 3rem auto;
  }
  
  .plan {
    white-space: pre-wrap;
  }
  
  .timeBlock {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid var(--lightColor);
  }
  
  .hour {
    background-color: var(--lightColor);
    color: var(--darkColor);
    border-bottom: 1px dashed var(--darkColor);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .past {
    background-color: var(--secondColor);
    color: var(--lightColor);
  }
  
  .present {
    background-color: var(--primeColor);
    color: var(--lightColor);
  }
  
  .future {
    background-color: var(--thirdColor);
    color: var(--lightColor);
  }
  
  .saveBtn {
    border-left: 1px solid var(--darkColor);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--primeColor);
    color: var(--lightColor);
  }

  .clearBtn {
    color: var(--lightColor);
  }
  
  .saveBtn i:hover, .clearBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  #contact, #mycontact {
    font-size:0.8rem;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
   text-decoration: none;
    color: var(--darkColor);
  }

 
  