:root {
    --darkColor: rgb(30, 35, 39);
    --lightColor: rgb(235, 217, 183);
    --primeColor: rgb(31, 110, 110);
    --secondColor:rgba(175, 59, 59, 0.945);
    --thirdColor: rgba(78, 78, 73, 0.87);
    --fourthColor: ;
   }

   ::selection {
    background-color: var(--primeColor);
    color: var(--darkColor);
  }

body {
    font-family: 'Nunito','Outfit', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: var(--darkColor);
    color: var(--lightColor);
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: var(--lightColor);
    border-left: 1px solid var(--darkColor);
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: var(--lightColor);
    border-radius: 0;
    border-bottom: 5px dashed var(--lightColor);
    padding: 3rem auto;
  }
  
  .plan {
    white-space: pre-wrap;
  }
  
  .timeBlock {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid var(--lightColor);
  }

  .saveBtn:hover {
    background-color: var(--primeColor);
    transition: all 0.5s ease-in-out;
  }
  .rowEnd {
    border-bottom: 1px solid var(--lightColor);
  }
  
  .hour {
    background-color: var(--lightColor);
    color: var(--darkColor);
    border-bottom: 1px dashed var(--darkColor);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .past {
    background-color: var(--thirdColor);
   
  }
  
  .present {
    background-color: var(--secondColor);
 
  }
  
  .future {
    background-color: var(--primeColor);

  }
  
  .saveBtn {
    border-left: 2px dashed var(--lightColor);
    border-right: 1px solid var(--lightColor);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--darkColor);
    color: var(--lightColor);
  }

  .clearBtn {
    color: var(--lightColor);
    background-color: transparent;
    border: none;
  }
  
  .saveBtn i:hover, .clearBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    color:var(--lightColor);
  }

  #contact, #mycontact {
    font-size:0.8rem;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
   text-decoration: none;
    color: var(--lightColor);
  }

 
  